.RollDice button{
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    color: black;
    background-color: crimson;
    margin-top: 3em;
}

.RollDice button:hover{
    cursor: pointer;
    background-color: palevioletred;
}